**TASK 1**

In [16]:
#Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [1]:
import pandas as pd
import numpy as np

In [2]:
company_data = {'Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 'Age': [24,23,25,26,28,np.nan,29,30,31,34],
                'Salary': [20000,30000,50000,60000,10000,70000,80000,40000,90000,100000],
                'Dept_no': [123,234,345,456,567,678,789,890,901,235],
                'Position': ['Manager','Senior Manager','Executive','Senior Executive','Manager','General Manager','Senior General Manager','Executive','Manager','junior Executive']
               }
company_data

{'Name': ['Anastasia',
  'Dima',
  'Katherine',
  'James',
  'Emily',
  'Michael',
  'Matthew',
  'Laura',
  'Kevin',
  'Jonas'],
 'Age': [24, 23, 25, 26, 28, nan, 29, 30, 31, 34],
 'Salary': [20000,
  30000,
  50000,
  60000,
  10000,
  70000,
  80000,
  40000,
  90000,
  100000],
 'Dept_no': [123, 234, 345, 456, 567, 678, 789, 890, 901, 235],
 'Position': ['Manager',
  'Senior Manager',
  'Executive',
  'Senior Executive',
  'Manager',
  'General Manager',
  'Senior General Manager',
  'Executive',
  'Manager',
  'junior Executive']}

In [3]:
df = pd.DataFrame(company_data)

In [4]:
df

        Name   Age  Salary  Dept_no                Position
0  Anastasia  24.0   20000      123                 Manager
1       Dima  23.0   30000      234          Senior Manager
2  Katherine  25.0   50000      345               Executive
3      James  26.0   60000      456        Senior Executive
4      Emily  28.0   10000      567                 Manager
5    Michael   NaN   70000      678         General Manager
6    Matthew  29.0   80000      789  Senior General Manager
7      Laura  30.0   40000      890               Executive
8      Kevin  31.0   90000      901                 Manager
9      Jonas  34.0  100000      235        junior Executive

**Task- 2 Check the info of 'df'**

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      10 non-null     object
 1   Age       9 non-null      float64
 2   Salary    10 non-null     int64
 3   Dept_no   10 non-null     int64
 4   Position  10 non-null     object
dtypes: float64(1), int64(2), object(2)
memory usage: 528.0+ bytes

In [6]:
df.shape

(10, 5)

**TASK 3  Check the descriptive statistics of 'df'**

In [7]:
df.describe()

             Age         Salary     Dept_no
count   9.000000      10.000000   10.000000
mean   27.777778   55000.000000  521.800000
std     3.597839   30276.503541  286.145573
min    23.000000   10000.000000  123.000000
25%    25.000000   32500.000000  262.500000
50%    28.000000   55000.000000  511.500000
75%    30.000000   77500.000000  761.250000
max    34.000000  100000.000000  901.000000

In [8]:
df.Age.median()

28.0

In [9]:
df.Age.mean()

27.77777777777778

In [10]:
df.Age = df.Age.fillna(df.Age.median())

In [11]:
df

        Name   Age  Salary  Dept_no                Position
0  Anastasia  24.0   20000      123                 Manager
1       Dima  23.0   30000      234          Senior Manager
2  Katherine  25.0   50000      345               Executive
3      James  26.0   60000      456        Senior Executive
4      Emily  28.0   10000      567                 Manager
5    Michael  28.0   70000      678         General Manager
6    Matthew  29.0   80000      789  Senior General Manager
7      Laura  30.0   40000      890               Executive
8      Kevin  31.0   90000      901                 Manager
9      Jonas  34.0  100000      235        junior Executive

**Task 4- check the 4th index observation with 'loc' slicing operator**

In [12]:
df.loc[4]

Name          Emily
Age            28.0
Salary        10000
Dept_no         567
Position    Manager
Name: 4, dtype: object

**Task 5 - Check the null values in your 'df'**

In [14]:
df.isnull().any()

Name        False
Age         False
Salary      False
Dept_no     False
Position    False
dtype: bool

In [15]:
df.isnull().sum()

Name        0
Age         0
Salary      0
Dept_no     0
Position    0
dtype: int64